{% extends 'base.html' %}
{% load static %}
{% block content %}

    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs" data-aos="fade-in">
            <div class="container">
                <h2>About Us</h2>
            </div>
        </div><!-- End Breadcrumbs -->

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                        <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                        <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
                        <p class="font-italic">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua.
                        </p>
                        <ul>
                            <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                            <li><i class="icofont-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                            <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                        </ul>
                        <p>
                            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                        </p>

                    </div>
                </div>

            </div>
        </section><!-- End About Section -->

        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts section-bg">
            <div class="container">

                <div class="row counters">

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">1232</span>
                        <p>Students</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">64</span>
                        <p>Courses</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">42</span>
                        <p>Events</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">15</span>
                        <p>Trainers</p>
                    </div>

                </div>

            </div>
        </section><!-- End Counts Section -->

        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Testimonials</h2>
                    <p>What are they saying</p>
                </div>

                <div class="owl-carousel testimonials-carousel" data-aos="zoom-in" data-aos-delay="100">

                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <img src="{% static 'assets/img/testimonials/test-royal.jpg' %}" class="testimonial-img" alt="">
                            <h3>Royal Sequira</h3>
                            <h4>Convenor of Sushiksha</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div>

                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <img src="{% static 'assets/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                            <h3>Praneeth</h3>
                            <h4>Mentee</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                A workspace where you will get to learn from mentors every day, you're surrounded by highly active people which pushes you to the extreme, it's like a virtual KSHAMATA camp where you will feel the vibe of WKC.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div>

                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <img src="{% static 'assets/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                            <h3>Karan Kini</h3>
                            <h4>Mentor</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                A thoroughly professional yet a joyous workspace where each member is a source of inspiration. Sophists is all about providing opportunities to constantly upskill ourselves and grow together. While I am happy to be a mentor to some brilliant young brains, I am happier to be learning from each of them, every day!
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div>

                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                            <h3>Rajath Prabhu</h3>
                            <h4>Mentee</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Sophists for me has been a wonderful workspace as I get to learn from mentors all around the world. It is one of a highly luminous group that always moves forward with each other’s care and support.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div>

                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <img src="{% static 'assets/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                            <h3>Rishabh Naik</h3>
                            <h4>Mentee</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Sophists is the change. A better place to experiment and grow. The best thing that I get in this workspace is feedback which most important to me. The bond of Mentors and mentees is very special.                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div>

                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <img src="{% static 'assets/img/testimonials/testimonials-6.jpg' %}" class="testimonial-img" alt="">
                            <h3>Samyukta Prabhu</h3>
                            <h4>Mentor</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Being a part of this vibrant workspace with a bunch of zestful scholars has made me feel that nothing is stoppable if you have the zeal to do it. They have the power to make an arduous task look like a cakewalk. The efforts they put in to make the workspace better each day is commendable. I may have good knowledge to share, but I know that I have a lot to learn from them. Cheers
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div>

                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <img src="{% static 'assets/img/testimonials/testimonials-7.jpg' %}" class="testimonial-img" alt="">
                            <h3>Keerthi Kamath</h3>
                            <h4>Mentee</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Sophists is a professional environment filled with exuberance where the objective is to learn and grow together. I feel blessed to be a part of such a vibrant workspace filled with people with a zeal to achieve their goals. I am happier to be learning something new every day in this ever-evolving workspace.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div>

                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <img src="{% static 'assets/img/testimonials/testimonials-8.jpg' %}" class="testimonial-img" alt="">
                            <h3>Prathveesh Hulekal</h3>
                            <h4>Mentee</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Sophists is a vibrant and ever-evolving workspace. As rightly said by Henry Ford Coming together is beginning keeping together is progress and working together is a success. We here work together on the upliftment of oneself.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div>

                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <img src="{% static 'assets/img/testimonials/testimonials-9.jpg' %}" class="testimonial-img" alt="">
                            <h3>Vinayaka N Shenoy</h3>
                            <h4>Mentee</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                A workspace where we learn and have fun at the same time. All the mentors here are very much approachable. The best part is the goal of growing together we have here. I feel so contented to be a part of Sophists.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div>

                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <img src="{% static 'assets/img/testimonials/testimonials-10.jpg' %}" class="testimonial-img" alt="">
                            <h3>Vineeth Nayak S</h3>
                            <h4>Mentee</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Sophists is a another world for me which is filled with highly motivated students and mentors who have instilled lots of inspiration to always give my best. I beleive such workspace plays a great role in defining the career of young budding engineers like me. I am lucky to be part of this initiative taken by WKC.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </section>
    </main>

{% endblock content %}